In [ ]:
!sudo apt-get install python3-dev default-libmysqlclient-dev build-essential pkg-config -y

In [ ]:
!pip install mysql-connector-python
!pip install sqlalchemy
!pip install PyMySQL
!pip install mysqlclient
!pip install configparser

In [ ]:
from mysql.connector import connect, Error
from getpass import getpass

try:
    with connect(
        host="mysql-db",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        create_db_query = "CREATE DATABASE IF NOT EXISTS testdb;"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

In [ ]:
from mysql.connector import connect, Error

In [ ]:
mysqldb = connect(
    host="mysql-db",
    user="root",
    password="P@ssw0rd",
    buffered=True
)

print(mysqldb)

In [ ]:
mysqldb = connect(
    host="mysql-db",
    user="root",
    password="P@ssw0rd",
    buffered=True
)

mycursor = mysqldb.cursor()

mycursor.execute("SHOW DATABASES;")
print( mycursor.fetchall())

#for db in dbs:
#    print (db)

In [ ]:
mysqldb = connect(
    host="mysql-db",
    user="root",
    password="P@ssw0rd",
    buffered=True
)

mycursor = mysqldb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS testdb;")

In [ ]:
mysqldb = connect(
    host="mysql-db",
    user="root",
    password="P@ssw0rd",
    database="testdb"
)

mycursor = mysqldb.cursor()

mycursor.execute("SHOW DATABASES;")
print( mycursor.fetchall())

qry = """
USE testdb;
CREATE TABLE IF NOT EXISTS t1 (id INT, first_name VARCHAR(20));
"""

mycursor.execute(qry)

In [ ]:
mysqldb = connect(
    host="mysql-db",
    user="root",
    password="P@ssw0rd",
    database="testdb"
)

mycursor = mysqldb.cursor()
qry = """
-- insert values into table t1
INSERT INTO t1 VALUES (1, 'ahmed'), (2, 'aya'), (3, 'john');
"""

mycursor.execute(qry)
mysqldb.commit()

In [ ]:
mysqldb = connect(
    host="mysql-db",
    user="root",
    password="P@ssw0rd",
    database="testdb"
)


mycursor = mysqldb.cursor()

qry = "DESC t1"

mycursor.execute(qry)
result = mycursor.fetchall()

#print (result)
for res in result:
    print(res)

In [ ]:
mysqldb = connect(
    host="mysql-db",
    user="root",
    password="P@ssw0rd",
    database="testdb"
)


mycursor = mysqldb.cursor()

qry = "SELECT * FROM t1"

mycursor.execute(qry)
result = mycursor.fetchall()

print (result)
#for res in result:
#    print(res)

In [ ]:
mycursor.close()

## SQLAlchemy

In [ ]:
from sqlalchemy import create_engine, text
#import MySQLdb

In [ ]:
connection_string = "mysql+mysqldb://root:P%40ssw0rd@mysql-db:3306"
engine = create_engine(connection_string, echo=True)

In [ ]:
conn = engine.connect()
#conn.execute("CREATE DATABASE testdb;")
results = conn.execute(text("SHOW DATABASES;"))

for result in results:
    print(result)

In [ ]:
results = conn.execute(text("CREATE DATABASE IF NOT EXISTS testdb;"))

In [ ]:
results = conn.execute(text("SHOW DATABASES;"))

for result in results:
    print(result)